* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#qrcode {
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

label {
    padding: 14px 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 4px 0;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    width: fit-content;
}

.col {
    float: left;
    width: 50%;
    margin-top: 6px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 0;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #45a049;
}


input[type=text],
input[type=datetime-local],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}